@{
    ViewData["Title"] = "Trabalho De";
}

<div class="text-center">
    <h1>
        <marquee behaviour="alternate">
            @ViewData["Title"]
        </marquee>
    </h1>
    <h1 class="display-4">Programação Orientada a Objetos</h1>
    <p>Link do projeto no <a href="https://github.com/daviborer2/Faculdade">GitHub</a>.</p>
</div>
