@{
    ViewData["Title"] = "Trabalho De";
}

<div class="text-center">
    <h1>
        <marquee behaviour="alternate">
            @ViewData["Title"]
        </marquee>
    </h1>
    <h1 class="display-4">Programação Orientada a Objetos</h1>
    <br />
    <p>
        DAVI BOHRER CANDIDO <br />
        FÁBIO ANTÔNIO ZIMERMANN OLIVEIRA FERNANDES <br />
        GABRIEL HENRIQUE PETRONILO MARQUES <br />
        JOÃO PEDRO PASCHOAL <br />
        LUCAS FREITAS EMILIO
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br />
    <p>Link do projeto no <a href="https://github.com/daviborer2/Faculdade">GitHub</a>.</p>
</div>
